*{
    padding: 0%;
    margin: 0%;
}
/* #root{
    border: 1px solid black;
    margin:10px 20px;
    padding: 5px 5px;
    box-shadow: 5px 5px 2px green;
}
#heading{
    color: blue;
    margin-top: 5px 5px;
    padding: 5px 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px red;

    text-shadow: 3px 3px 3px black;
} */